[submodule "dns-perf"]
	path = dnsperf
	url = https://github.com/drxmknight/dnsperf.git

[submodule "bucket-stream"]
        path = bucket-stram
        url = https://github.com/drxmknight/bucket-stream.git
